.app {
  background-color: #282c34;
  min-height: 100vh;
  padding-bottom: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.app-header {
  margin-top: 10px;
  flex: 0 0 50px;
  width: 100%;
  overflow: hidden;
}

.app-logo {
  height: 100%;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-content {
  flex: 1;
  width: calc(100% - 100px);
  padding: 15px 20px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  overflow: auto;
}
